<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
                    <match url="api/(.*)" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="http://localhost:8001/api/{R:1}" logRewrittenUrl="false" />
                </rule>
				<rule name="VM" enabled="true" stopProcessing="false">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
				</rule>           
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
